@{
    ViewData["Title"] = "Audit Logs";
}

<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <link href="~/lib/datatables/dataTables.bootstrap5.min.css" rel="stylesheet" />
    <link href="~/lib/font-awesome-4.7.0/css/font-awesome.css" rel="stylesheet" />
    <link href="~/lib/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/css/auditlog.css" rel="stylesheet" />
</head>
<body>
    <div class="container-fluid p-3">
        <h2 class="text-primary">Audit Logs</h2>
        <hr>
        <div class="row mt-4">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header bg-primary bg-gradient text-white">
                        Audit Logs Table
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="DataTable_AuditLogs" class="display table-bordered text-center" style="width: 100%;">
                                <thead>
                                    <tr>
                                        <th>Audit ID</th>
                                        <th>Product ID</th>
                                        <th>Change Type</th>
                                        <th>Quantity</th>
                                        <th>User ID</th>
                                        <th>Timestamp</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- Data will be dynamically populated here -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/datatables/dataTables.min.js"></script>
    <script src="~/lib/datatables/datatables.bootstrap5.min.js"></script>
    <script src="~/js/AuditLogs.js"></script>
</body>
</html>
